<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_Zoo_Manager.Properties.Settings.TutorialDBConnectionString"
            connectionString="Data Source=DESKTOP-7PFJ40H\DIMASQLSERVER;Initial Catalog=TutorialDB;User ID=sa;Password=Hrundel2003"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>